.brodsmulesti {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.container {
    background-color: #FFFFFF;
    max-width: calc(100% - 22rem * 2);
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

.form {
    padding: 1.8rem 2.5rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

.form-control p {
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex: 1;
  }

.form-control label {
    display: inline-block;
    font-size: 1.24rem;
    line-height: 1.375rem;
    font-weight: bold;
    line-height: 1.4;
    margin-left: 2rem;
    margin-top: 1rem;
    vertical-align: middle;
  }

.title{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.75rem;
    color: #262626;
    font-weight: bold;
    margin: 0 auto;
}



.illustrasjon {
    height: 5rem;
    width: 5rem;
    /*margin-inline-start: 2rem;*/
    margin: 0 auto;
}

.work-border{
    width: calc(100% - 1.5rem * 2);
    border-bottom: 0.25rem solid #CFCFCF;
    margin-bottom: 1rem;
    margin: 0 auto;
}
  
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }


  


.skjema-max-width {
    width: 100%;
    max-width: 800px;
}