.menutitle{
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 100%;
    color: #262626;
    text-align: center;
    background-color: #66A3C4;
    max-width: 80%;
  }

.menuborder{
    width: 80%;
    border-bottom: 4px solid #B0B0B0;
}

.illustrasjon {
    height: 80px;
    width: 80px;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
}