.menutitle{
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2.5rem;
    color: #262626;
    text-align: center;
    background-color: #66A5F4;
    max-width: 80%;
  }

.menuborder{
    width: 80%;
    border-bottom: 0.25rem solid #CFCFCF;
}

.illustrasjon {
    height: 3.75rem;
    width: 3.75rem;
    align-items: center;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.error-message {
    padding: 30px 40px;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    margin: 1rem; 
    font-size: 0.75rem;
    display: flex;
    margin: 10px;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1; 
}