.spaceAround {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.textMedium {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: bold;
    color: #262626;
    font-size: 1.5rem; /* 24px on heading */
}

.textLarge {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: bold;
    color: #262626;
    font-size: 1.8rem; /* 28px on heading */
}

/* setColorClass */
.colorError {
    border: 0.125rem solid rgba(195, 0, 0, 1);
    background-color: #ffe6e6;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.colorInformation {
    border: 0.125rem solid rgba(54, 141, 168, 1);
    background-color: #d8f9ff;
    text-align: center;
    display: block;
}

.colorWarning {
    border: 0.125rem solid rgba(212, 123, 0, 1);
    background-color: #fff9f0;
    margin: 0 auto;
    text-align: center;
    display: block;
}

/* image */
.section-illustration {
    width: 1.875rem;
    height: 2.5rem;
}
