.section-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
}
.section-header:hover {
    background-color: #eceef0;
}

.section-illustration {
    float: right;
    margin: auto;
}

.section-border {
    border: 1px solid #d8dde6;
}

.vertical-line {
    margin-left: 0.5rem;
    border-left: 0.1rem solid #eceef0;
}

.responsive {
    font-family: 'Source Sans 3', Arial, sans-serif;
    color: rgba(38, 38, 38, 1);
}

@media only screen and (min-width: 700px) {
    .section-title {
        width: calc(100% + 0.5rem * 2);
        text-align: left;
        margin: 0.5rem;
        font-size: 1.25rem; /* 24 px*/
        line-height: 2rem; /* 32px */
        font-weight: 600;
    }

    .section-body {
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 400;
        white-space: pre-line;
        padding-left: 1rem;
    }

    img {
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .section-title {
        width: calc(100% + 0.5rem * 2);
        text-align: left;
        margin: 0.5rem;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 600;
    }

    .section-body {
        font-size: 1rem; /* 16 px*/
        line-height: 1.5rem; /* 24px */
        font-weight: 400;
        white-space: pre-line;
        padding-left: 0.5rem;
    }

    img {
        display: none;
    }
}
