  .mainbanner {
    margin-bottom: -1.2%;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: 100%;
    background-color:#F1F1F1 ;
  }
  
  .mainbanner-title {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.8rem;
    line-height: 1.625rem;
    font-weight: bold;
    margin-top: 5px;
    color: #262626;
    text-align: center;
  }

  
  