.activitytitle{
    font-weight: bold;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 100%;
    color: #262626;
  }
  .activityborder{
    width: 40%;
    border-bottom: 6px solid #B0B0B0;
  }

.illustrasjon {
    height: 60px;
    width: 60px;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    /*font-size: 5vm;
    font-weight: bold;*/
}

.activitytext{
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 100%;
    color: #262626;

}