.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.detail-header {
    background-color: var(--lwc-colorBackground);
    border-radius: 0.2em;
}

ul {
    list-style: none;
}

.horizontal-list li:not(:last-child)::after {
    margin-right: 0.25em;
    content: ', ';
}

.title {
    border-color: #0067c5;
    color: #0067c5;
    font-size: 1.5em;
    font-weight: bold;
}

.header3 {
    font-size: 1.17em;
    font-weight: bold;
}

.header2 {
    font-size: 1.5em;
    font-weight: bold;
}