.spaceAround {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.colorWarning {
    border: 0.125rem solid rgba(212, 123, 0, 1);
    background-color: #fff9f0;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.responsive {
    float: center;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 600;
    color: #262626;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  @media only screen and (min-width: 700px) {
    .responsive {
        font-size: 1.125rem; /* 18px */
        line-height: 1.5rem; /* 24px */
    }
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
  }

  @media only screen and (max-width: 500px) {
    .responsive {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem; /* 18px */
    }
    img{
        width: 1.5rem;
        height: 1.5rem;
    }
  }

