.container {
    margin: 0 auto;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem; 
    
  }

.container-col-main{
    background-color:rgba(241, 241, 241, 1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.skjema-max-width {
    width: 100%;
    max-width: 800px;
}

h1{
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1.5rem; /* 24 px*/
    line-height: 2rem; /* 32px */
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-left:2rem;
    padding-bottom: 1rem;
}

h2{
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1.125rem; /* 18 px*/
    line-height: 1.75rem; /* 28px */
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-left:2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

h3{
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1rem; /* 18 px*/
    line-height: 1.5rem; /* 28px */
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-left:2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.form-control dl{
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.form-control dt{
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1rem;/* 16 px*/
    line-height: 1.5rem; /* 24px */
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
}

.form-control dd{
    padding-bottom: 0.5rem;
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1rem;/* 16 px*/
    line-height: 1.5rem; /* 24px */
    color: rgba(38, 38, 38, 1);
    font-weight: 400;
}

.form-control p {
    padding-bottom: 1rem;
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1rem;/* 16 px*/
    line-height: 1.5rem; /* 24px */
    color: rgba(38, 38, 38, 1);
    font-weight: 400;
    margin-left: 2rem;
    white-space: pre-line;
  }

.form-control label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Source Sans 3', Arial, sans-serif;
    font-size: 1rem;/* 16 px*/
    line-height: 1.5rem; /* 24px */
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    margin-left: 2rem;
  }

  ul.content-links {
    margin-left: 2rem;
    padding-bottom: 1rem;
  }