.container {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.responsive {
    font-family: 'Source Sans 3', Arial, sans-serif;
    color: rgba(38, 38, 38, 1);
}

.breadcrumb-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: -3rem;
}

@media only screen and (min-width: 700px) {
    .responsive {
        max-width: 60rem;
    }

    .breadcrumb-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: -3rem;
    }

    ul {
        padding-left: 1.5rem;

    }

    p {
        padding-bottom: 1rem;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 400;
        white-space: pre-line;
    }

    h1 {
        font-size: 2rem; /* 32 px*/
        line-height: 2.5rem; /* 40px */
        font-weight: 600;
        padding-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem; /* 24 px*/
        line-height: 2rem; /* 32px */
        font-weight: 600;
        padding-bottom: 1rem;
        padding-top: 0.2rem;
    }

    h3 {
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /* 24px */
        font-weight: 600;
        padding-bottom: 1rem;
    }

    h4 {
        font-size: 1rem; /* 16 px*/
        line-height: 1.125rem; /* 18px */
        font-weight: 600;
        padding-bottom: 1rem;
    }
    table {
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
    }

    /*
    tr:nth-child(odd) {
        background-color: #f2f3f5;
    }*/

    th {
        border-bottom: 2px solid black;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 600;
        padding: 0.5rem;
        background-color: #f2f3f5;
    }
    td {
        border-bottom: 1px solid black;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 400;
        vertical-align: text-top;
        padding: 0.5rem;
    }

    dd {
        padding-bottom: 1rem;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 400;
        white-space: pre-line;
    }

    dt {
        float: left;
        clear: left;
        width: 25%;
        text-align: left;
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 600;
        white-space: pre-line;
    }
    dt::after {
        content: ':';
    }

    img {
        width: 6rem;
        height: 6rem;
    }

    .breadcrumb-img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        max-width: 80rem;
    }

    .breadcrumb-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 1.5rem;

    }

    p {
        padding-bottom: 1rem;
        font-size: 1rem; /* 16 px*/
        line-height: 1.5rem; /* 24px */
        font-weight: 400;
        white-space: pre-line;
    }

    h1 {
        font-size: 1.5rem; /* 24 px*/
        line-height: 2rem; /* 32px */
        font-weight: 600;
        padding-bottom: 1rem;
    }

    h2 {
        font-size: 1.125rem; /* 18 px*/
        line-height: 1.5rem; /*24px*/
        font-weight: 600;
        padding-bottom: 1rem;
    }

    h3 {
        font-size: 1rem; /* 16 px*/
        line-height: 1.125rem; /*18px*/
        font-weight: 600;
        padding-bottom: 1rem;
    }

    h4 {
        font-size: 0.5rem; /* 16 px*/
        line-height: 1rem; /* 18px */
        font-weight: 600;
        padding-bottom: 1rem;
    }

    dd {
        padding-bottom: 1rem;
        font-size: 1rem; /* 16 px*/
        line-height: 1.5rem; /* 24px */
        font-weight: 400;
        white-space: pre-line;
    }

    dt {
        font-size: 1rem; /* 16 px*/
        line-height: 1.5rem; /* 24px */
        font-weight: 600;
        white-space: pre-line;
    }

    img {
        width: 3rem;
        height: 3rem;
    }

    .breadcrumb-img {
        width: 1.333rem;
        height: 1.333rem;
    }
}

.container-color {
    background-color: #e6f0ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-left: -1rem;
}
