.container {
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem; 
  }

  .container-col-main{
    background-color:rgba(241, 241, 241, 1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  table{
    table-layout: fixed;
    margin: 0 auto;
    width: 80%; 
  }

  .textformats{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1rem;
    text-align:left;
    color: rgba(38, 38, 38, 1);
  }

  .td-formats{
    font-size: 3rem;
    color: goldenrod; 
  }


h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem; /* 24 px*/
    line-height: 2rem; /*32px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-bottom:0.5rem;
    padding-top:0.5rem;
}

h2{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem; /* 18 px*/
    line-height: 1.5rem; /*24px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-bottom:0.5rem;
    padding-top:0.5rem;
}

