.container {
    margin: 0 auto;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.2rem; 
  }

  .container-light{
    margin: 0 auto;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
}

  .container-col-main{
    background-color:rgba(241, 241, 241, 1);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .container-col-historikk {
    background-color:rgba(255, 230, 230, 1);
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .container-col-light{
    /*background-color: rgb(218, 222, 153);
    border: 0.063rem solid rgb(142, 150, 10);*/
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .container-col-goals{
    background-color: #ffd399;
    border: 0.063rem solid #d87f0a;
  }

  .container-col-meeting{
    background-color:#99c2e8;
    border: 0.063rem solid #0c5ea8;
  }

  .container-col-job{
    background-color:#c2eaf7;
    border: 0.063rem solid #5eaec7;
  }

  .container-col-trening{
    background-color:#9bd0b0;
    border: 0.063rem solid #117938;
  }

  .container-col-edu{
    background-color:#dade99;
    border: 0.063rem solid #8e960a;
  }

  .container-col-ref{
    background-color:#d6897d;
    border: 0.063rem solid #88392b;
  }

h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2rem; /* 32 px*/
    line-height: 2.5rem; /*40px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    padding-left:2rem;
}

h2{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.5rem; /* 24 px*/
    line-height: 2rem; /*32px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
}

.form-control p {
    padding-bottom: 1rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;/* 18 px*/
    line-height: 1.5rem; /*24px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 400;
    margin-left: 2rem;
  }

.form-control label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 1.125rem;/* 18 px*/
    line-height: 1.5rem; /*24px*/
    color: rgba(38, 38, 38, 1);
    font-weight: 600;
    margin-left: 2rem;
  }

  .skjema-max-width {
    width: 100%;
    max-width: 800px;
}

.illustrasjon {
    height: 3.75rem;
    width: 3.75rem;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
}

.work-border{
    width: 100%;
    border-bottom: 0.25rem solid rgba(153, 196, 221, 1);
    margin-bottom: 1rem;
}
