.section-header{
    width: calc(100% - 0.5rem * 2);
    background-color: var(--main-bg-color);
    display: flex; 
    margin: 0 auto;
    cursor: pointer;
    border: 0.063rem solid transparent ;
    border-radius: 0.125rem;     
}
.section-header:hover {
    background-color: var(--hover-bg-color);
    z-index: 10;
}
.section-header:focus{
    background-color: var(--focus-bg-color);
    z-index: 10;
}
.section-illustration{
    float: left;
    padding-top: 0.5rem;
    padding-right: 0.2rem;
}
.section-title{
    font-family: 'Source Sans 3', Arial, sans-serif;
    color: #0067C5
    ;
    font-size: var(--main-font-size);
    font-weight: var(--title-font-weight);
    text-align: left;
    margin: 0.5rem;
}

.container{
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vertical-line{
    margin-left: 1.5rem;
    border-left: 0.2rem solid #d8dde6;
    padding-left: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}

.my-icon {
    --sds-c-icon-color-foreground-default:#0067C5
    ;
}